.text-orange {
    color: #ffab40;
}

.marg_r_30 {
    margin-right: 30px;
}

.marg_r_10 {
    margin-right: 10px;
}

.marg_t_20 {
    margin-top: 1.333rem;
}

.marg_t_10 {
    margin-top: 10px;
}

.marg_l_40 {
    margin-left: 40px;
}

.marg_l_4_3rem {
    margin-left: 4.3rem;
}

.marg_l_3_13 {
    margin-left: 3.13rem;
}

.marg_b_30 {
    margin-bottom: 30px;
}

.marg_b_8 {
    margin-bottom: 8px;
}

.marg_b_4 {
    margin-bottom: 4px;
}

.marg_b_2 {
    margin-bottom: 2px;
}

.marg_b_1 {
    margin-bottom: 1px;
}

.marg_0 {
    margin: 0;
}

.border_b_1 {
    border-bottom: 1px solid #ffab40;
}

.border_l_1 {
    border-left: 1px solid #ffab40;
}

.border_t_1 {
    border-top: 1px solid #ffab40;
}

.border_r_1 {
    border-right: 1px solid #ffab40;
}

.height_820 {
    height: 820px;
}

.width_21rem {
    width: 21rem;
}

.sub-title {
    font-size: 20px;
}

.inline {
    display: inline;
}

.info_list {
    font-size: small;
}

.underline-text:hover {
    text-decoration: underline;
}

.flex_inline {
    display: flex;
    flex-wrap: wrap-reverse;
}

.flex_inline li{
    height: 15px;
    line-height: 15px;
}

.egal_height_1{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.egal_height_2{
    display: flex;
    flex-direction: column;
}

.vertical_align {
    vertical-align: middle;
}

.justify {
    text-align: justify;
}

.marg_t_2rem {
    margin-top: 2rem;
}

.cursor_pointer {
    cursor: pointer;
}

h2 {
    font-size: 2.20rem;
    margin: 1rem 0 1rem 0
}

.circle_list {
    list-style-type: circle;
}

.blue_macway{
    background-color: #2081c5;
}

@media screen and (max-width: 992px)
{
    .tb_margin_25
    {
        margin-top: 25px;
    }
}