.text-orange {
    color: #ffab40;
}

.marg_r_30 {
    margin-right: 30px;
}

.marg_r_10 {
    margin-right: 10px;
}

.marg_t_10 {
    margin-top: 10px;
}

.marg_l_40 {
    margin-left: 40px;
}

.marg_b_30 {
    margin-bottom: 30px;
}

.marg_b_8 {
    margin-bottom: 8px;
}

.marg_b_4 {
    margin-bottom: 4px;
}

.marg_b_2 {
    margin-bottom: 2px;
}

.marg_b_1 {
    margin-bottom: 1px;
}

.border_b_1 {
    border-bottom: 1px solid #ffab40;
}

.height_820 {
    height: 820px;
}

.sub-title {
    font-size: 20px;
}

.inline {
    display: inline;
}

.info_list {
    font-size: small;
}

.underline-text:hover {
    text-decoration: underline;
}

.flex_inline {
    display: flex;
    flex-wrap: wrap-reverse;
}

.flex_inline li{
    height: 15px;
    line-height: 15px;
}

.egal_height_1{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.egal_height_2{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 992px)
{
    .tb_margin_25
    {
        margin-top: 25px;
    }
}