body {
    background-color: black;
}

.page-foot {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#thedarkside {
    height: 3000px;
}

.pos_fixe{
    position: fixed;
}

.horiz_fixe_div {
    left: 50%;
    margin-left: -500px;
}

#mySVG {
    width: 1000px;
    height: 500px;
}